.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto,Arial, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  padding: 16px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
}

.wrap {
  width: 1160px;
  margin: 0 auto;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
}

.current-page::after {
  content: "";
  position: absolute;
  right: 47px;
  bottom: -5px;
  left: 0;

  display: block;
  height: 2px;

  background: #fb565a;
}

.header {
  padding-top: 49px;

  background-color: #eeeeee;
}

.site_navigation__link {
  cursor: pointer;
  opacity: 1.0;
}

.site_navigation__link:hover {
  opacity: 0.8;
}

.site_navigation__link:active {
  opacity: 0.3;
}
.navigation__link,
.header-user__navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.navigation__list,
.about-order__list,
.footer-social,
.catalog-pagination__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation__link a,
.header-user__navigation {
  color: #000000;
}

.navigation__item {
  padding-bottom: 10px;
}

.navigation__item a:hover,
.header-user__navigation:hover {
  color: #fb565a;
}

.navigation__item a:active,
.header-user__navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-item__link {
  width: 240px;
}

.slider-item__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.slider-item__heading {
  width: 700px;
  margin: 0;
  padding-top: 72px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-transform: none;
}


.slider-item__text {
  width: 700px;
  max-width: 415px;
  margin: 0;
  margin-bottom: 39px;
  padding-top: 26px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: none;
}

.servises-item__title {
  margin: 25px 0 18px 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.servises-item__text {
  width: 250px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.servises-item__link {
  width: 160px;

  color: #ffffff;

  border-radius: 2px;
}

.servises-item:nth-child(1) .servises-item__link {
  background-color: #fb565a;
}

.servises-item:nth-child(1) .servises-item__link:hover {
  background-color: #e74246;
}

.servises-item:nth-child(1) .servises-item__link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}
.servises-item:nth-child(2) .servises-item__link {
  background-color: #00ca74;
}

.servises-item:nth-child(2) .servises-item__link:hover {
  background-color: #00bc6c;
}

.servises-item:nth-child(2) .servises-item__link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}
.servises-item:nth-child(3) .servises-item__link {
  background-color: #efc849;
}

.servises-item:nth-child(3) .servises-item__link:hover {
  background-color: #eab534;
}

.servises-item:nth-child(3) .servises-item__link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.about-us {
  display: block;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 33px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  text-transform: none;
}

.about-qualities {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}

.about-orders {
  margin-top: 39px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.about-order__text {
  margin: 0;
  margin-bottom: 24px;
  padding-left: 36px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: none;
}

.about-order__text::before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;
  margin: 0 10px 12px -35px;

  vertical-align: bottom;

  background-color: #fb565a;
}
.about-statistic__heading {
  margin-top: 33px;
  margin-left: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.about-statistic__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-statistic__caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  text-transform: none;
}

.about-statistic__value {
  margin: 41px 21px 37px 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
  text-transform: none;
}

.statistic-sup {
  font-size: 64%;
}

.footer-map__heading {
  margin-top: 0;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.footer-map__adress {
  width: 201px;
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-transform: none;
}

.footer-map__telephone {
  width: 201px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-transform: none;
}

.footer-sale__heading {
  margin-top: 6px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
}

.footer-sale__text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-transform: none;
}

.writeus-form__legend {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  text-transform: none;
}
.writeus-popup__label {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: none;
}

.writeus-popup__input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  text-transform: none;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  opacity: 0.5;
}

.writeus-popup__input:hover {
  color: rgba(68, 68, 68, 0.5);

  border-color: #b4b9bb;
}

.writeus-popup__input:focus {
  color: rgba(68, 68, 68, 1);

  border-color: #000000;
}

.writeus-popup__input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.header-title {
  margin: 0;
  margin-top: 70px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  text-transform: none;
}

.fieldset-price__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.fieldset-price__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.fieldset-price__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.fieldset-grid__legend,
.fieldset-features__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.fieldset-grid__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-transform: none;
}

.filter-form__fieldset:disabled .fieldset-grid__label,
.filter-form__fieldset:disabled .fieldset-features__label {
  opacity: 0.3;
}

.filter-form__fieldset:disabled .fieldset-grid__label:before,
.filter-form__fieldset:disabled .fieldset-features__label:before {
  opacity: 0.1;
}
.fieldset-grid__input:disabled + .fieldset-grid__label,
.fieldset-features__input:disabled + .fieldset-features__label {
  opacity: 0.3;
}
.fieldset-grid__input:disabled + .fieldset-grid__label:before,
.fieldset-features__input:disabled + .fieldset-features__label:before {
  opacity: 0.1;
}

.fieldset-features__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-transform: none;
}

.filter-form__btn {
  width: 260px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}

.filter-form__btn:hover {
  background-color: #dfdfdf;
}

.filter-form__btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border-top: 3px solid #dbdbdb;
  border-top-color: #bfbfbf;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.product-hover__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.product-hover__heading:hover {
  color: #fb565a;
}

.product-hover__heading:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-hover__discription {
  min-height: 20px;
  max-height: 382px;
  margin: 15px auto 30px auto;
  overflow: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-transform: none;
}

.catalog-pagination__link {
  display: block;
  padding: 16px 020px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3px;
}

.catalog-pagination__link:hover {
  background-color: #dfdfdf;
}

.catalog-pagination__link:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-radius: 3px;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.current-pagination__link {
  color: #000000;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.header-site_navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 489px;
  padding: 0;
  padding-top: 26px;
}

.navigation__list a,
.header-user__navigation {
  display: block;
}

.navigation__link {
  position: relative;

  padding-right: 46px;
}

.user__navigation {
  display: flex;
}

.header-user__navigation {
  position: relative;

  padding-top: 26px;
  padding-bottom: 15px;
  padding-left: 40px;

  vertical-align: middle;
}

.header-user__navigation::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;

  width: 16px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-slider {
  position: relative;

  min-height: 425px;

  background-image: url("../img/slide1.png");
}


.slider-controls {
  position: absolute;
  right: 528px;
  bottom: 87px;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

.header-slider label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 19px;
  padding: 8px;

  vertical-align: top;
  vertical-align: top;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked ~ .header-slider #slide1,
#product-2:checked ~ .header-slider #slide2,
#product-3:checked ~ .header-slider #slide3 {
  display: block;
  padding-bottom: 80px;
}

#product-1:checked ~ .header-slider label[for="product-1"]:before,
#product-2:checked ~ .header-slider label[for="product-2"]:before,
#product-3:checked ~ .header-slider label[for="product-3"]:before {
  content: "";
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

#product-1:checked ~ .header-slider {
  background: url("../img/slide1.png") no-repeat 431px 12px;
}

#product-2:checked ~ .header-slider {
  background: url("../img/slide2.png") no-repeat 496px -5px;
}

#product-3:checked ~ .header-slider {
  background: url("../img/slide3.png") no-repeat 401px 13px;
}

.main-page__servises {
  border-bottom: 2px solid #eeeeee;
}

.servises-list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  padding-top: 80px;
}

.servises-item {
  position: relative;

  min-width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
  padding-top: 146px;
}
.servises-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 300px;
  height: 146px;

  background-color: #fb565a;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.servises-item:nth-child(3n) {
  margin-right: 0;
}

.servises-item:nth-of-type(1)::before {
  background-image: url("../img/illustration-1.png");
}

.servises-item:nth-of-type(2)::before {
  background-image: url("../img/illustration-2.png");
}

.servises-item:nth-of-type(3)::before {
  background-image: url("../img/illustration-3.png");
}

.about-info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 48px;
}

.about-brief {
  width: 690px;
  padding-right: 100px;
}

.about-statistic {
  width: 360px;
}

.main-page__companies {
  margin-bottom: 80px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1160px;
}

.companies__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding: 44px 0 42px 0;
}

.companies__link {
  opacity: 0.2;
}

.companies__link:hover {
  opacity: 1;
}

.companies__link:active {
  opacity: 0.1;
}

.companies__item:not(:nth-child(4n)):after {
  content: "";
  position: absolute;
  top: -9px;
  right: -21px;
  bottom: 0;

  width: 2px;
  height: 52px;
  margin-top: auto;
  margin-bottom: auto;

  background-color: #eeeeee;
}

.footer-map {
  position: relative;

  height: 416px;
  margin: 0 auto;
}

.footer-map__info {
  position: absolute;
  top: 54px;
  z-index: 4;

  padding: 49px 48px 47px 50px;

  background-color: #ffffff;
}

.footer-map__button {
  width: 221px;
  margin-top: 37px;
}

.footer-info {
  display: flex;
  padding-top: 69px;
  padding-bottom: 77px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 276px;
  margin: 0;
  padding: 0;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  margin-right: 12px;
  margin-bottom: 10px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #e74246;
}

.footer-link:active,
.footer-link:active path {
  background-color: #d7373b;
  box-shadow: inset 0 2px 0 0 #c13135;

  fill: #e37376;
}

.footer-sale {
  margin-left: 127px;
}

.header__container {
  height: 167px;
}


.catalog-page {
  display: flex;
  justify-content: space-between;
}

.catalog-page_content {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0;
}


.filter-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.fieldset-price {
  margin-top: 55px;
  margin-bottom: 53px;
}

.fieldset-price__range {
  position: relative;

  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.fieldset-price__scale {
  height: 2px;

  background: #d7dcde;
}
.fieldset-price__scale .scale__bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}
.fieldset-price__range .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.fieldset-price__range .toggle-min {
  left: 18px;
}

.fieldset-price__range .toggle-max {
  left: 160px;
}

.fieldset-price__values {
  font-size: 0;
}

.fieldset-price__values label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  vertical-align: bottom;
  text-transform: uppercase;
}

.fieldset-price__values input {
  width: 60px;
  margin-left: 10px;
  padding: 10px 10px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.fieldset-price__label:last-of-type {
  text-align: right;
}
.fieldset-features {
  margin-top: 25px;
  margin-bottom: 30px;
}

.fieldset-grid__list,
.fieldset-features__list {
  margin: 0;
  margin-top: 15px;
  padding: 0;

  list-style: none;
}

.fieldset-features__list {
  margin-top: 15px;
}

.fieldset-grid__item,
.fieldset-features__item {
  padding-bottom: 20px;
  padding-left: 36px;
}

.fieldset-grid__label,
.fieldset-features__label {
  position: relative;

  display: block;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fieldset-grid__item,
.fieldset-features__item {
  position: relative;
}

.fieldset-grid__input,
.fieldset-features__input {
  position: absolute;
  top: -3px;
  left: 1px;
  z-index: -1;

  width: 25px;
  height: 25px;

  opacity: 0;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


.fieldset-grid__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  z-index: 2;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.fieldset-grid__label:hover::before {
  opacity: 1.0;
}

.fieldset-grid__input:checked + .fieldset-grid__label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.fieldset-grid__input:focus + .fieldset-grid__label::before {
  outline: 2px solid lightblue;
}
.fieldset-grid__input:checked + .fieldset-grid__label:hover::before {
  opacity: 1.0;
}
.fieldset-features__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.fieldset-features__label:hover::before {
  opacity: 1.0;
}
.fieldset-features__input:checked + .fieldset-features__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.fieldset-features__input:focus + .fieldset-features__label::before {
  outline: 2px solid lightblue;
}

.fieldset-features__input:checked + .fieldset-features__label:hover::before {
  opacity: 1.0;
}

.sort__form {
  display: flex;
  padding-top: 58px;
  padding-bottom: 56px;
}

.catalog-page__filter {
  width: 260px;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-products__item {
  position: relative;

  width: 360px;
  height: 576px;
  margin-bottom: 33px;
  padding-top: 40px;

  border-radius: 5px;
}

.catalog-products__item:nth-child(4) .product-hover__buy,
.catalog-products__item:nth-child(5) .product-hover__buy {
  margin-left: 20px;
}
.catalog-products__item:nth-child(4) .products-item__hover,
.catalog-products__item:nth-child(5) .products-item__hover {
  bottom: -3px;
}
.catalog-products__item:nth-child(2) .product-hover__discription {
  width: 180px;
  padding: 0 30px;
}
.catalog-products__item:nth-child(4) .product-hover__discription,
.catalog-products__item:nth-child(5) .product-hover__discription {
  width: 167px;
  padding: 0 36px;
}
.catalog-products__item:nth-child(6) .products-item__hover,
.catalog-products__item:nth-child(7) .products-item__hover {
  bottom: 1px;
}
.catalog-products__item:nth-child(4) {
  margin-bottom: 30px;
}

.catalog-products__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0.12;
}

.catalog-products__item:hover:before {
  opacity: 1.0;
}

.products-item__hover {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  box-sizing: border-box;
  min-height: 231px;
  max-height: 576px;
  padding: 27px 60px 40px 60px;

  text-align: center;

  background-color: #eeeeee;
}



.catalog-products__item:hover {
  box-shadow: 0 6px 15px 0 rgba(0,1,1,0.25);
}

.catalog-products__item:hover .products-item__hover {
  display: block;
}

.product-hover__buy {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.product-hover__buy:hover {
  background-color: #e74246;
}

.product-hover__buy:active {
  background-color: #d7373b;
}

.catalog-pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 760px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 50px;
  padding-left: 0;
}

.catalog-pagination__item {
  display: block;
  margin-right: 11px;
  padding-bottom: 10px;

  color: #ffffff;

  cursor: pointer;
}
.catalog-pagination__item:last-child  .catalog-pagination__link {
  padding-right: 77px;
  padding-left: 79px;
}

.sort__legend {
  margin: 0;
  margin-right: 266px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
  text-transform: uppercase;
}

.sort__label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort__label:active,
.active-label {
  color: rgba(0, 0, 0, 1);
}

.switch__list {
  display: block;
  margin: 0;
}

.switch__down,
.switch__up {
  position: relative;

  padding-right: 30px;
}

.switch__down:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.2;
}

.switch__up:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  opacity: 0.2;
}
.active-switch::before {
  opacity: 1;
}
.switch__up:hover:before,
.switch__down:hover:before {
  opacity: 0.4;
}
.switch__up:active:before,
.switch__down:active:before {
  opacity: 1;
}
.sort__item {
  padding-right: 26px;
}

.writeus-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  display: none;
  box-sizing: border-box;
  width: 960px;
  margin-top: -296px;
  margin-left: -480px;
  padding-top: 68px;
  padding-right: 100px;
  padding-bottom: 83px;
  padding-left: 98px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 #5e5e5e;
}
.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.writeus-popup__close {
  position: absolute;
  top: 80px;
  left: 848px;

  width: 22px;
  height: 22px;
  padding: 0;
  padding-left: 22px;

  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}
.writeus-popup__close:hover {
  opacity: 1;
}

.writeus-popup__close:active {
  opacity: 0.1;
}

.writeus-popup-heading {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.writeus-popup__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.writeus-popup__item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.writeus-popup__item:first-of-type {
  margin-right: 40px;
}

.writeus-popup__input,
.writeus-popup__textarea {
  border: 2px solid #f4f6f6;
  opacity: 0.4;
}

.writeus-popup__input:hover,
.writeus-popup__textarea:hover {
  border: 2px solid #b4b9bb;
}
.writeus-popup__input:focus,
.writeus-popup__textarea:focus {
  border: 2px solid #000000;
  outline: none;
  opacity: 1;
}

.writeus-popup__input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.textarea {
  width: 100%;
  margin-top: 34px;
}

.writeus-popup__textarea {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 45px;
  padding: 0 13px;
  padding-top: 11px;
  padding-bottom: 12px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  opacity: 0.5;
}

.writeus-popup__button {
  width: 260px;

  cursor: pointer;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.footer-map img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  width: 1440;
  height: 416px;
  margin: 0 auto;
}

.footer-map::after {
  content: url("../img/map-marker.png");
  position: absolute;
  top: 89px;
  left: 57%;
  z-index: 2;
}

.footer-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.footer-map iframe {
  width: 100%;
}
