.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',Arial, sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display:block;
    border-radius: 2px;
    color:#ffffff;
    background-color: #fb565a;
    border:none;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
}

.current-page::after {
    content: "";
    display: block;
    height: 2px;
    background: #fb565a;
    position: absolute;
    left: 0px;
    right: 47px;
    bottom: -5px;
}

.header {
    background-color: #eeeeee;
}

.navigation__link,
.header-user__navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight:500;
}

.navigation__list,
.about-order__list,
.footer-social,
.catalog-pagination__list{
    list-style: none; 
    margin: 0;
    padding:0;
}

.navigation__link a,
.header-user__navigation {
    color: #000000;
}

.navigation__item {
    padding-bottom: 10px;
}

.navigation__item a:hover,
.header-user__navigation:hover {
    color:#fb565a;
}

.navigation__item a:active,
.header-user__navigation:active {
    color: rgba(0, 0, 0, 0.3);
}

.slider-item__link {
    width:240px;
}

.slider-item__link:active {
    color: rgba(255, 255, 255, 0.3);
}

.slider-item__heading {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    text-transform: none;
    font-weight:500;
}

.slider-item__text {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    text-transform: none;
    font-weight:500;
    margin: 0;
    padding-top:26px;
    width: 700px;
    margin-bottom: 39px;
}

.servises-item__title {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight:bold;
    margin:25px 0 18px 0;
}

.servises-item__text {
    font-size: 16px;
    width:250px;
    line-height: 24px;
    color: #283136;
    font-weight:400;
    margin-bottom: 30px;
}

.servises-item__link {
    border-radius: 2px;
    color:#ffffff;
    width:160px;
}

.servises-item:nth-child(1) .servises-item__link {
    background-color: #fb565a;
}

.servises-item:nth-child(1) .servises-item__link:hover {
    background-color: #e74246;
}

.servises-item:nth-child(1) .servises-item__link:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}
.servises-item:nth-child(2) .servises-item__link {
    background-color: #00ca74;
}

.servises-item:nth-child(2) .servises-item__link:hover {
    background-color: #00bc6c;
}

.servises-item:nth-child(2) .servises-item__link:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}
.servises-item:nth-child(3) .servises-item__link {
    background-color: #efc849;
}

.servises-item:nth-child(3) .servises-item__link:hover {
    background-color: #eab534;
}

.servises-item:nth-child(3) .servises-item__link:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

.about-us {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    text-transform: none;
    font-weight:500;
}

.about-qualities {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: none;
    font-weight:400;
    margin:0px;
}

.about-orders {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
    margin-top: 39px;
    margin-bottom: 25px;
}

.about-order__text {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    text-transform: none;
    font-weight:400;
    margin:0;
    margin-bottom: 24px;
    padding-left: 36px;
}

.about-order__text::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    margin: 0 10px 12px -35px;
}
.about-statistic__heading {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
    margin-top:33px;
    margin-left: 16px;
    
}

.about-statistic__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.about-statistic__caption {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
    text-transform: none;
    font-weight:400;
}

.about-statistic__value {
    font-size: 45px;
    line-height: 10px;
    color: #000000;
    text-transform: none;
    font-weight:700;
    margin:41px 21px 37px 0;
}

.statistic-sup {
    font-size: 64%;
}

.footer-map__heading {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
    margin-top: 0px;
    margin-bottom: 22px;

}

.footer-map__adress {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    text-transform: none;
    font-weight:400;
    margin-bottom: 18px;
    width:201px;
}

.footer-map__telephone {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    text-transform: none;
    font-weight:400;
    width:201px;
}

.footer-sale__heading {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    text-transform: none;
    font-weight:700;
    margin-bottom: 10px;
    margin-top: 6px;
}

.footer-sale__text {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    text-transform: none;
    font-weight:400;
    margin:0px;
}

.writeus-form__legend {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    text-transform: none;
    font-weight:500;
}
.writeus-popup__label {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: none;
    font-weight:700;
}
.writeus-popup__input {
    font-size: 16px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.5);
    text-transform: none;
    font-weight:400;
    border:2px solid #d7dcde;
}

.writeus-popup__input:hover {
    border-color: #b4b9bb;
    color: rgba(68, 68, 68, 0.5);
}

.writeus-popup__input:focus {
    color: rgba(68, 68, 68, 1);
    border-color: #000000;
}

.writeus-popup__input:invalid {
    border-color: #e74246;
    color:#e74246;
}

.header-title {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    text-transform: none;
    font-weight:500;
}

.fieldset-price__legend {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
    
}

.fieldset-price__label {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    text-transform: uppercase;
    font-weight:400;
}

.fieldset-price__input {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    text-transform: uppercase;
    font-weight:400;
}

.fieldset-grid__legend, 
.fieldset-features__legend  {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
}

.fieldset-grid__label {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    text-transform: none;
    font-weight:400;
}

.filter-form__fieldset:disabled .fieldset-grid__label {
    color: rgba(40, 49, 54, 0.3);
}

.fieldset-features__label {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    text-transform: none;
    font-weight:400;
}

.filter-form__fieldset:disabled .fieldset-features__label {
    color: rgba(40, 49, 54, 0.3);
}

.filter-form__btn {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight:500;
    background-color: #eeeeee;
    border:none;
    width: 260px;
    height: 50px;
}

.filter-form__btn:hover {
    background-color: #dfdfdf;
}

.filter-form__btn:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    border-top: 3px solid #dbdbdb;
    border-top-color: #bfbfbf;
    border-right:none;
    border-left:none;
    border-bottom: none;
}

.product-hover__heading {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
}

.product-hover__heading:hover {
    color: #fb565a;
}

.product-hover__heading:active { 
    color: rgba(0, 0, 0, 0.3);
}

.product-hover__discription{
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: none;
    font-weight:400;
}
 
.catalog-pagination__link {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight:500;
    background-color: #eeeeee;
    display: block;
    min-width: 50px;
    text-align: center;
    border-radius: 3px;
    padding: 16px 0;
}   

.catalog-pagination__link:hover {
    background-color: #dfdfdf;
}   

.catalog-pagination__link:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    border-color: #d5d5d5;
    border-radius: 3px;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}   

.current-pagination__link {
    background-color: #ffffff;
    color: #000000; 
    box-shadow: inset 0 0 0 3px #dbdbdb;
}

.wrap {
    width:1160px;
    margin:0 auto;
}

.header {
    padding-top: 49px;
}

.header-site_navigation {
    display:flex;
    justify-content:space-between;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 489px;
    justify-content:center;
    padding:0;
    padding-top: 26px;
}

.navigation__list a,
.header-user__navigation {
    display: block;
}

.navigation__link{
    position: relative;
    padding-right:46px;
}

.user__navigation {
    display: flex;
}

.header-user__navigation {
    padding-top:26px;
    padding-bottom: 15px;
    padding-left:40px;
    vertical-align: middle;
    position: relative;
}

.header-user__navigation::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 0px;
    width: 16px;
    height: 18px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.header-slider {
    position: relative;
    min-height: 425px;
    background-image:  url("../img/slide1.png");
}

.slider-item__heading {
    margin: 0;
    padding-top:72px;
    width: 700px;
}

.slider-controls {
    position: absolute;
    bottom: 87px;
    right: 528px;
    z-index: 20;
    font-size: 0;
}

.slide {
    display: none;
}
  
.header-slider label{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 19px;
    padding: 8px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 50%;
}

.slider-controls label::after {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;
    content: '';
    border-radius: 50%;
    background: #ffffff;
}

#product-1:checked ~ .header-slider #slide1,
#product-2:checked ~ .header-slider #slide2,
#product-3:checked ~ .header-slider #slide3 {
  display: block;
}

#product-1:checked ~ .header-slider label[for="product-1"]:before,
#product-2:checked ~ .header-slider label[for="product-2"]:before,
#product-3:checked ~ .header-slider label[for="product-3"]:before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -4px;
    content: '';
    border: 2px solid #c1c1c1;
    border-radius: 50%;
    background-color: inherit;
}

#product-1:checked ~ .header-slider {
    background:  url("../img/slide1.png") no-repeat 431px 12px;
}
  
#product-2:checked ~ .header-slider {
    background:  url("../img/slide2.png") no-repeat 431px 12px;
}
  
#product-3:checked ~ .header-slider {
    background:  url("../img/slide3.png") no-repeat 431px 12px;
}

.main-page__servises {
    border-bottom: 2px solid #eeeeee;
}

.servises-list {
    display:flex;
    padding-top:80px;
    flex-wrap: wrap;
    width:1160px;
}

.servises-item{
    position: relative;
    padding-top: 146px;
    margin-right: 100px;
    min-width:300px;
    margin-bottom: 80px;
}
.servises-item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 146px;
    background-color: #fb565a;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.servises-item:nth-child(3n) {
    margin-right: 0;
}

.servises-item:nth-of-type(1)::before {
    background-image: url("../img/illustration-1.png");

}

.servises-item:nth-of-type(2)::before {
    background-image: url("../img/illustration-2.png");
}

.servises-item:nth-of-type(3)::before {
    background-image: url("../img/illustration-3.png");
}

.about-info {
    display:flex;
    justify-content: space-between;
    padding-top:40px;
    padding-bottom:48px;
}

.about-brief {
    flex:1;
    padding-right: 150px;
}

.about-statistic {
    width: 360px;
}

.about-us {
    margin:0;
    margin-top: 34px;
    margin-bottom: 33px;
    display:block;
}

.main-page__companies {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
}

.companies {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: 1160px;
}

.companies__item {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    padding: 44px 0px 42px 0;
}

.companies__link {
    opacity: 0.2;
}

.companies__link:hover {
    opacity: 1;
}

.companies__link:active {
    opacity: 0.1;
}

.companies__item:not(:nth-child(4n)):after {
    position: absolute;
    top: -9px;
    right: -21px;
    bottom: 0;
    width: 2px;
    height: 52px;
    margin-top: auto;
    margin-bottom: auto;
    content: '';
    background-color: #eee;
}

.footer-map {
    width:1440px;
    margin:0 auto;
    position: relative;
    height: 416px;
}

.footer-map__info {
    position: absolute;
    top: 54px;
    left: 140px;
    background-color: #ffffff;
    padding: 49px 48px 47px 50px;
    z-index: 4;
}

.footer-map__button {
    width:221px;
    margin-top: 37px;
}

.footer-info {
    display:flex;
    padding-top:69px;
    padding-bottom:77px;
}

.footer-social {
    display: flex;
    max-width: 276px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-link {
    width: 79px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 12px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #e74246;
}

.footer-link:active,
.footer-link:active path {
    background-color: #d7373b;
    fill: #e37376;
    box-shadow: inset 0 2px 0 0 #c13135;
}

.footer-sale {
    margin-left:127px;
}

.header__container {
    height: 235px;
}

.header-title {
    text-align: center;
    margin:0px;
    padding-top: 70px;
}
.catalog-page {
    display:flex;
    justify-content: space-between;
}

.catalog-page_content {
    width:760px;
    margin:1px;
}

.filter-form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 48px;
}

.fieldset-price {
    margin-bottom:53px;
    margin-top:55px;
}

.fieldset-price__range {
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 5px;
}

.fieldset-price__scale {
    height: 2px;
    background: #d7dcde;
}
.fieldset-price__scale .scale__bar {
    width: 70%;
    height: 2px; 
    background: #00ca74;
}
.fieldset-price__range .toggle {
    position: absolute;
    top: 30px;
    left: 0;   
    width: 4px;
    height: 4px;
    padding: 0;  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.fieldset-price__range .toggle-min {
    left: 18px;
}
  
.fieldset-price__range .toggle-max {
    left: 160px;
}

.fieldset-price__values {
    font-size: 0;
}

.fieldset-price__values label {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}

.fieldset-price__values input {
    width: 60px;
    padding: 10px 10px;
    margin-left: 10px;  
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.fieldset-price__label:last-of-type {
    text-align: right;
}
.fieldset-features { 
    margin-top: 25px;
    margin-bottom: 30px;
}

.fieldset-grid__list, 
.fieldset-features__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:16px;
}

.fieldset-grid__item,
.fieldset-features__item {
    padding-bottom: 20px;
    padding-left: 36px;
}

.fieldset-grid__label,
.fieldset-features__label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.fieldset-grid__label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    opacity: 0.4;
}
.fieldset-grid__input:checked + .fieldset-grid__label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    opacity: 0.4;
}

.fieldset-features__label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
}

.fieldset-features__input:checked + .fieldset-features__label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-page_content {
    width:760px;
    margin:0;
    display: flex;
    flex-direction: column;
}

.sort__form {
    display: flex;
    padding-top:58px;
    padding-bottom: 56px;
}

.catalog-page__filter {
    width:260px;
}

.catalog-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-products__item {
    position: relative;
    width: 360px;
    height: 576px;
    border-radius: 5px;
    padding-top: 40px;
    margin-bottom: 33px;
}

.catalog-products__item:nth-child(4) .product-hover__buy,
.catalog-products__item:nth-child(5) .product-hover__buy {
    
    margin-left: 20px;

}
.catalog-products__item:nth-child(4) .products-item__hover,
.catalog-products__item:nth-child(5) .products-item__hover {
    bottom: -3px;
}
.catalog-products__item:nth-child(2) .product-hover__discription {
    width:180px;
    padding: 0 30px;
}
.catalog-products__item:nth-child(4) .product-hover__discription,
.catalog-products__item:nth-child(5) .product-hover__discription {
    width:167px;
    padding: 0 36px;
}
.catalog-products__item:nth-child(6) .products-item__hover,
.catalog-products__item:nth-child(7) .products-item__hover {
    bottom: 1px;
}
.catalog-products__item:nth-child(4) {
    margin-bottom: 30px;
}

.catalog-products__item:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    opacity: 0.12;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}

.catalog-products__item:hover:before {
    opacity: 1.0;
}

.products-item__hover {
    display:none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #eeeeee;
    text-align: center;
    min-height: 231px;
    padding: 27px 60px 40px 60px;
    box-sizing: border-box;
    max-height: 576px;
}

.product-hover__discription {
    margin: 15px auto 30px auto;
    min-height: 20px;
    max-height: 382px;
    overflow: auto;
}

.catalog-products__item:hover {
    box-shadow: 0 6px 15px 0 rgba(0,1,1,.25);
}

.catalog-products__item:hover .products-item__hover {
    display:block;
}

.product-hover__buy {
    width:200px;
    height: 50px;
    margin:0 auto;
    display:block;
    border-radius: 2px;
    color:#ffffff;
    background-color: #fb565a;
    border:none;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
.product-hover__buy:hover {
    background-color: #e74246;
}

.product-hover__buy:active {
    background-color: #d7373b;
}

.catalog-pagination__list {
    display: flex;
    max-width: 760px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 50px;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.catalog-pagination__item {
    padding-bottom: 10px;
    display: block;
    margin-right: 11px;
    color: #ffffff;
}
.catalog-pagination__item:last-child  .catalog-pagination__link{
    padding-right: 77px;
    padding-left: 79px;
}

.sort__legend {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight:700;
    margin:0;
    margin-right: 266px;
}

.sort__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.sort__label {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: none;
    font-weight:400;
    text-transform: uppercase;
}

.sort__label:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort__label:active,
.active-label {
    color: rgba(0, 0, 0, 1);
}

.switch__list {
    display: block;
    margin:0;
}

.switch__down ,
.switch__up{
    position: relative;
    padding-right: 30px;
}

.switch__down:before {
    position: absolute;
    top: 5px;
    right: 0;
    width: 11px;
    height: 10px;
    content: '';
    opacity: 0.2;
    background-image: url("../img/icon-up-dir.svg");
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.switch__up:before {
    position: absolute;
    top: 5px;
    right: 0;
    width: 11px;
    height: 10px;
    content: '';
    opacity: 0.2;
    background-image: url("../img/icon-up-dir.svg");
}
.switch__up:hover:before,
.switch__down:hover:before {
    opacity: 0.4;
}
.switch__up:active:before,
.switch__down:active:before {
    opacity: 1;
}
.sort__item {
    padding-right: 26px;
}

.writeus-popup {
    position: fixed;
    z-index: 50;
    top: 155px;
    left: 50%;
    display: none;
    box-sizing: border-box;
    width: 960px;
    margin-left: -480px;
    padding-top: 68px;
    padding-right: 100px;
    padding-bottom: 83px;
    padding-left: 98px;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 #5e5e5e;
}
.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}
.writeus-popup__close {
    position: absolute;
    top: 80px;
    right: 80px;
    border: 0;
    padding:0;
    cursor: pointer;
    width: 22px;
    height: 22px;
    padding-left: 22px;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.3;
}
.writeus-popup__close:hover {
    opacity: 1;
}

.writeus-popup__close:active {
    opacity: 0.1;
}

.writeus-popup-heading {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 40px;
}

.writeus-popup__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.writeus-popup__item {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.writeus-popup__label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.writeus-popup__input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 13px;
    border-radius: 3px;
    border: 2px solid #d7dcde;
    opacity: 0.5;
}
.writeus-popup__input,
.writeus-popup__textarea {
   border: 2px solid #f4f6f6;
   opacity: 0.4;
}

.writeus-popup__input:hover,
.writeus-popup__textarea:hover {
    border: 2px solid #b4b9bb;
}
.writeus-popup__input:focus,
.writeus-popup__textarea:focus {
    border: 2px solid #000000;
    opacity: 1;
}

.textarea {
    width: 100%;
    margin-top: 34px;
}

.writeus-popup__textarea {
    box-sizing: border-box;
    padding: 0 13px;
    border-radius: 3px;
    padding-top: 11px;
    margin-top: 34px;
    margin-bottom: 13px;
    padding-bottom: 12px;
    border: 2px solid #d7dcde;
    opacity: 0.5;
}

.writeus-popup__button {
    width: 260px;
}

@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

@keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
  
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.map-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer-map::after {
    content: url("../img/map-marker.png");
    position: absolute;
    left:820px;
    top: 89px;
    z-index: 2;
}

.footer-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}